#set( $this = "Velocity")

$this is great!

#set($index = 0)
#foreach( $name in $list )
    #set($index = $index + 1)
    $index
    $name is great!
#end

#set( $condition = true)

#if ($condition)
    The condition is true!
#else
    The condition is false!
#end

$test

$!test 111

($!tes) == true


#if (($person.b - $person.a) == 1)
    The condition is true!
#else
    The condition is false!
#end

